* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.Check-BT {
    border: none;
    background-color: rgb(154, 255, 40);
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: inherit;
    padding: 2rem 3rem;
    cursor: pointer;
}

.Check-BT:hover {
    background-color: rgb(111, 0, 255);
}

.squaredFour {
    width: 20px;
    position: relative;
    margin: 20px auto;
}
.squaredFour label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredFour label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}
.squaredFour label:hover::after {
    opacity: 0.5;
}
.squaredFour input[type=checkbox] {
    visibility: hidden;
}
.squaredFour input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.myTableText {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.20)
}
.myTableText td,
.myTableText th {
    border: 2px solid rgba(255, 255, 255, 0.20);
    padding: 5px;
}
.myTableText th {
    font: bold 18px / 1.1em Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 4px black;
    letter-spacing: 0.1em;
    background-color: rgba(255, 255, 255, 0.20);
    color: #ffc400;
}
.myTableText td {
    font: normal 14px / 1.5em Goudy, Georgia, serif;
    color: #000000;
}
.myTableText td a:link {
    color: #111111;
    text-decoration: none;
}
.myTableText td a:visited {
    color: #be00cf;
}
.myTableText td a:hover {
    color: #FF4500;
    text-decoration: underline;
}
.myTableText td a:active {
    color: #FF0000;
}

.show-modal {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

#todo-list {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.20)
}

h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.8rem;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */  
.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
